table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table thead tr {
  background-color: #e0e0e0;
  font-weight: bold;
}
